

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>candidateEntryForm</title>
</head>
<body>
    <form action="/candidateEntry" method="POST">
        <input type="text" name="constituencyId" placeholder="constituencyId"><br><br><br>
        <input type="text" name="party" placeholder="party"><br><br><br>
        <input type="text" name="candidateName" placeholder="candidateName"><br><br><br>
        <input type="submit" value="upload">
    </form>
</body>
</html>
